
body {
    margin: 0;
    height: 100vh;
    background-color: #fefefe;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    border: 5px solid #d53369;
    border-radius: 50%;
    margin: 8px;
   /* animation: loader .8s ease-in-out infinite alternate;   */
}

.loader:nth-child(1) {
    animation: loader .8s ease-in-out infinite alternate;
}

.loader:nth-child(2) {
    animation: loader .8s ease-in-out .3s infinite alternate;
}

.loader:nth-child(3) {
    animation: loader .8s ease-in-out .6s infinite alternate;
}

@keyframes loader {
    to {
        transform: scale(1.8);
    }
}